#viewProject{width:100%}
#viewProjec{height:$height;} 

#buttons{
    height:100px;
    background:#2c3e50;

}
#buttons > p {
    width:250px;
    float:right;
    color:rgb(248, 250, 142);
    text-align:center;
    padding-top:25px;
    height:75%;
    margin:0;
    
}

#viewproject-button{
    width:250px;
}

#buttons > p:hover{
    background:rgb(251, 255, 4))
    cursor:pointer;
}
#viewProject > input, #viewProject > button{
    margin-top:20px;
    margin-left:105px;
    height:25px;
    border:none;
    border-radius:2px;}
#taskname,#employeetype,#from,#to,#employeename,#employeeemail{
    width:250px;
    margin-left:6px;
    
}

#label{
  text-align: left
}

  
  
  
  
  #viewProjec{
    text-align: center;
    width:250px;
  }
  
  
  .form-horizontal{
      align:center;
      height: 75px;
      padding: 100px;
      color: indigo;
      font-style: bold;
      border:20px;
  }
  
  
  
  
  body{

   background-position: center;
   background-size: cover;
   
  }
  
  .App-header {
   background-color:rgb(3, 3, 73);
   height: 75px;
   padding: 20px;
   color: white;
   font-style:italic;
   
  }

  